<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <div class="conteiner">
    <main class="main-conteiner">
      <section class="cards">
        <div class="card">
          <a class="card" mat-list-item routerLink="/products">
          <h3> Total de Produtos </h3>
          <p>Quantidade: {{ productCount }}</p>
          </a>
        </div>
        <div class="card">
          <a class="card" mat-list-item routerLink="/clientes">
          <h3> Total de Clientes </h3>
          <p>Quantidade: {{ clienteCount }}</p>
          </a>
        </div>
        <div class="card">
          <a class="card" mat-list-item routerLink="/fornecedor">
          <h3> Total de Fornecedores </h3>
          <p>Quantidade: {{ fornecedorCount }}</p>
          </a>
        </div>
        <div class="card">
        <a class="card" mat-list-item routerLink="/vendas">
          <h3> Total de Vendas </h3>
          <p>Quantidade: {{ vendaCount }}</p>
          <p>Total: R$ {{ vendaValorTotal | number:'1.2-2' }}</p>
        </a>
        </div>
      </section>
      <div class="welcome-box">
        <a routerLink="/">
            <img class="logo" src="assets/img/logo_1__1_-removebg-preview.png" alt="logo">
        </a>
        <h2>Bem-vindo ao sistema de gestão da Padaria Baía!</h2>
        <p class="intro-text">
          Os botões localizados ao lado esquerdo, te direciona para a aba
          ao qual está escrito ao ser interagido.
        </p>
        <p class="intro-text">
          Os números a baixo significam o números de cadastros daquela classe.
        </p>
        <p class="intro-text">
           Esse sistema serve principalmente para facilitar a sua vida, garantir que tenha
           um negócio organizado, saudável e bem sucedido. 
        </p>
        <p class="intro-text">
           Meu Telefone: (43)98800-5025
        </p>
      </div>
    </main>
  </div>
</body>

</html>