<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <div class="conteiner">
    <main class="main-conteiner">
      <section class="cards">
        <div class="card">
          <h3><span>🥖</span> Produtos Cadastrados </h3>
          <p>{{ productCount }}</p>
        </div>
        <div class="card">
          <h3><span>👥</span> Clientes Cadastrados</h3>
          <p>{{ clienteCount }}</p>
        </div>
        <div class="card">
          <h3><span>🤝</span> Fornecedores Cadastrados</h3>
          <p>{{ fornecedorCount }}</p>
        </div>
        <div class="card">
          <h3><span>💲</span> Vendas Realizadas</h3>
          <p>{{ vendaCount }}</p>
        </div>
      </section>
      <div class="welcome-box">
        <a routerLink="/">
            <img class="logo" src="assets/img/logo_1__1_-removebg-preview.png" alt="logo">
        </a>
        <h2>Bem-vindo ao sistema de gestão da Padaria Baía!</h2>
        <p class="intro-text">
          Este sistema foi criado para facilitar o seu dia a dia e tornar a gestão da padaria mais prática, ágil e
          organizada.
          Aqui, você pode acompanhar o desempenho do seu negócio em tempo real, controlar o cadastro de produtos,
          gerenciar seus fornecedores e manter o relacionamento com seus clientes sempre em dia.
        </p>
        <p class="intro-text">
          Aproveite os recursos disponíveis para automatizar tarefas, reduzir erros e ganhar tempo — tudo isso com uma
          interface simples e pensada especialmente para as necessidades de uma padaria como a nossa.
          Se surgir alguma dúvida, você pode acessar os tutoriais ou entrar em contato com o suporte.
        </p>
        <p class="intro-text">
          Vamos juntos transformar cada fornada em mais eficiência, qualidade e crescimento.
          Um excelente dia de trabalho pra você! 
        </p>
      </div>
    </main>
  </div>
</body>

</html>