<mat-card>
    <mat-card-title>Atualizar Produto</mat-card-title>
    <div class="linha-amarela"></div>
    <form>
        <!-- Campo para alterar o celular -->
        <mat-form-field appearance="outline">
      <mat-label>Celular</mat-label>
      <mat-icon matPrefix>smartphone</mat-icon>
      <input matInput [(ngModel)]="contato.conCelular" name="conCelular"  required>
    </mat-form-field>
    
        <!-- Campo para alterar o telefone comercial -->
    <mat-form-field appearance="outline">
      <mat-label>Telefone Comercial</mat-label>
      <mat-icon matPrefix>phone</mat-icon>
      <input matInput [(ngModel)]="contato.conTelefoneComercial" name="conTelefoneComercial"  required>
    </mat-form-field>

        <!-- Campo para alterar o email -->
    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <mat-icon matPrefix>email</mat-icon>
      <input matInput [(ngModel)]="contato.conEmail" name="conEmail" required>
    </mat-form-field>
    </form>

    <button mat-raised-button (click)="updateContato()" color="primary">
        Atualizar
    </button>
   
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>