<mat-card>
    <mat-card-title class="titulo">Cadastrar Fornecedor</mat-card-title>
    <div class="linha-amarela"></div>
    <form class="formulario">

        <h3 class="subtitulo">Dados do Fornecedor</h3>

        <mat-form-field appearance="outline">
            <mat-label>Nome Fantasia</mat-label>
            <mat-icon matPrefix>business</mat-icon>
            <input matInput [(ngModel)]="fornecedor.forNomeFantasia" name="forNomeFantasia" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>CNPJ</mat-label>
            <mat-icon matPrefix>badge</mat-icon>
            <input matInput [(ngModel)]="fornecedor.forCnpj" name="forCnpj" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Razão Social</mat-label>
            <mat-icon matPrefix>domain</mat-icon>
            <input matInput [(ngModel)]="fornecedor.forRazaoSocial" name="forRazaoSocial" required>
        </mat-form-field>

        <h3 class="subtitulo">Endereço</h3>

        <mat-form-field appearance="outline">
            <mat-label>Rua</mat-label>
            <mat-icon matPrefix>home</mat-icon>
            <input matInput [(ngModel)]="fornecedor.endRua" name="endRua">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Número</mat-label>
            <mat-icon matPrefix>pin</mat-icon>
            <input matInput [(ngModel)]="fornecedor.endNumero" name="endNumero">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Cidade</mat-label>
            <mat-icon matPrefix>location_city</mat-icon>
            <input matInput [(ngModel)]="fornecedor.endCidade" name="endCidade">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>CEP</mat-label>
            <mat-icon matPrefix>markunread_mailbox</mat-icon>
            <input matInput [(ngModel)]="fornecedor.endCep" name="endCep">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Estado</mat-label>
            <mat-icon matPrefix>map</mat-icon>
            <input matInput [(ngModel)]="fornecedor.endEstado" name="endEstado">
        </mat-form-field>

        <h3 class="subtitulo">Contato</h3>

        <mat-form-field appearance="outline">
            <mat-label>Celular</mat-label>
            <mat-icon matPrefix>smartphone</mat-icon>
            <input matInput [(ngModel)]="fornecedor.conCelular" name="conCelular">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Telefone Comercial</mat-label>
            <mat-icon matPrefix>phone</mat-icon>
            <input matInput [(ngModel)]="fornecedor.conTelefoneComercial" name="conTelefoneComercial">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>E‑mail</mat-label>
            <mat-icon matPrefix>email</mat-icon>
            <input matInput [(ngModel)]="fornecedor.conEmail" name="conEmail">
        </mat-form-field>
        <button mat-raised-button (click)="deleteFornecedor()" color="warn">
            Excluir
        </button>

        <button mat-raised-button (click)="cancel()">
            Cancelar
        </button>
    </form>
</mat-card>