<mat-card class="venda-card">
    <mat-card-title>Cadastrar Venda</mat-card-title>
    <div class="linha-amarela"></div>

    <!-- Área com scroll interno -->
    <div class="card-scrollable-content">
        <form [formGroup]="vendaForm" (ngSubmit)="onSubmit()">
            <h3 class="subtitulo">Dados da Venda</h3>
            <div class="form-columns">
                <mat-form-field appearance="outline">
                    <mat-label>Código da Venda</mat-label>
                        <mat-icon matPrefix>sell</mat-icon>
                    <input matInput  formControlName="vendaCodigo" readonly>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <input matInput [matDatepicker]="picker1" placeholder="Data da Venda" formControlName="vendaData"
                        readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Id Cliente</mat-label>
                    <mat-icon matPrefix>person</mat-icon>
                    <input matInput type="number" formControlName="cliId" required>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Id Forma de Pagamento</mat-label>
                    <mat-icon matPrefix>payments</mat-icon>
                    <input matInput type="number" formControlName="fpgId" required>
                </mat-form-field>
            </div>

            <h3 class="subtitulo">Dados Dos Produtos Vendidos</h3>
            <div formArrayName="compras">
                <div *ngFor="let compra of compras.controls; let i = index" [formGroupName]="i"
                    class="produto-bloco form-columns">
                    <mat-form-field appearance="outline">
                        <mat-label>Produto</mat-label>
                        <mat-icon matPrefix>storefront</mat-icon>
                        <mat-select placeholder="Produto" formControlName="proId" (selectionChange)="onProdutoChange(i)"
                            required>
                            <mat-option value="" disabled>Selecione um produto</mat-option>
                            <mat-option *ngFor="let p of products" [value]="p.proId">{{ p.proNome }}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Quantidade</mat-label>
                        <mat-icon matPrefix>inventory_2</mat-icon>
                        <input matInput type="number" formControlName="compraQuantidade" min="1" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Preço de Venda Unitário(R$)</mat-label>
                        <mat-icon matPrefix>price_change</mat-icon>
                        <input matInput type="number" formControlName="compraPrecoVenda" step="0.01" min="0" required>
                    </mat-form-field>

                    <div class="botoes-produto">
                        <button mat-stroked-button color="warn" type="button" (click)="removeCompra(i)"
                            *ngIf="compras.length > 1">
                            Remover Produto
                        </button>
                        <button mat-raised-button color="primary" type="button" (click)="addCompra()">
                            Adicionar Produto
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Botões fixos fora do scroll -->
    <div class="botoes-finais" style="display:flex; gap: 10px; margin-top: 20px;">
        <button mat-raised-button color="primary" type="submit" [disabled]="vendaForm.invalid" (click)="onSubmit()">
            Salvar
        </button>
        <button mat-raised-button color="warn" type="button" (click)="cancel()">
            Cancelar
        </button>
    </div>
</mat-card>