.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #a0501f;
  padding: 0 20px;
  z-index: 1000;
  width: 100%;
  gap: 20px; /* novo: espaçamento igual entre itens */
}