table {
    width: 1000px;
    width: 100%;
    background-color: #f1d7a5;
    border-radius: 10px;
    overflow: hidden; /* força os cantos arredondados mesmo com conteúdo */
}

th {
    color: #573403;
    font-weight: bold;
    padding: 16px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

th, td {
  border-bottom: 1px solid #070401; /* cor da divisória */
  padding: 10px;
}

